<manifest xmlns:android='http://schemas.android.com/apk/res/android'>
    <uses-permission android:name='android.permission.INTERNET' />
    <uses-permission android:name='android.permission.WRITE_EXTERNAL_STORAGE' android:maxSdkVersion='28' />
    <application
        android:label="file_forge_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- R0001/NR0003/T0004 §Option C: OAuth 성공 페이지의 fileforge:// 딥링크를 이 앱이
                 수신하도록 등록. 모바일 외부 브라우저에서 연동 완료 후 앱으로 자동 복귀(foreground)
                 시키고, 수신 시 계정 목록을 재로딩한다(클라 DeepLinkService → AccountProvider.load).
                 launchMode=singleTop 이므로 기존 인스턴스로 재진입한다. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="fileforge"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher (TR0005 §symptom2): Android 11+(API30) translated text translated text https URLtext
             browsertext translated text ACTION_VIEW + https text translated text translated text text. translated text
             OAuth consent URL launch text translated text failedtext. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>

