ALLOWED_ORIGIN=*
SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=30
CONTEXT=/fileforge
DB_PATH=./fileforge.db
DB_TYPE=sqlite
DB_HOST=localhost
DB_PORT=0
DB_USER=
DB_PASSWORD=
DB_DATABASE=fileforge
DB_SCHEMA=

RATE_LIMIT_DEFAULT=1000/hour
RATE_LIMIT_LOGIN=50/minute
RATE_LIMIT_UPLOAD=1200/minute
RATE_LIMIT_DOWNLOAD=1200/minute

